.tops1{
    background-color:palevioletred;
    border-radius: 15px 15px;
    padding:10px 20px;
    margin: auto;
    text-align: center;
}
.random1{
    font-size: 25px;
    width:250px;
    height: 70px;
    border-color: black;
    border-style: solid;
    border-radius: 15px 15px;
    margin:auto;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    padding: 15px 15px;
    background-color: pink;

}

.d1ad{
    width:700px;
    margin:auto;
    margin-top: 10px;
    font-size: 20px;
    background: pink;
    justify-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 15px 15px;
    padding: 20px 20px;
}


